  <div class="media content-widget-hr"></div>
    <div class="row">
      <div class="col-12 col-lg-4 mb-1 mb-lg-0 d-flex flex-column align-items-center align-items-lt-start">
         <a href="https://www.pims.math.ca" target="_blank"><img class="tight" src="/img/pims-logo.png" alt="Pacific Institute for the Mathematical Sciences" /></a>
      </div>
      <div class="col-12 pl-1 col-lg-8 align-self-center">
        <p><em>{{ with .Get "description" }}{{ . }}{{ else }}This event is part of
        the <a
      href="https://www.pims.math.ca/collaborative-research-groups/pihot"
      target="_blank">Pacific Interdisciplinary Hub on Optimal Transport
      (PIHOT)</a> which is a collaborative research group <a
      href="https://www.pims.math.ca/collaborative-research-groups/">(CRG)</a>
    of the Pacific Institute for the Mathematical Sciences <a href="https://www.pims.math.ca">(PIMS).</a>{{ end }}</em></p>
      </div>
    </div>
